.card {
        max-width: 800px;
        margin: 30px auto;
        background-color: #ffffff;}

img {
    max-width: 100%;}
    title {
        font-family: 'Slabo', serif;

}
body {
    padding: 15px 32px;    
    font-family: 'Roboto', sans-serif;   }
       
    /* comments look like this */
