.card {
        max-width: 800px;
        margin: 10px auto;
        background-color: #ffffff;}

img {
    max-width: 100%;}
    title {
        font-family: 'Slabo', serif;
}
body {
        
    font-family: 'Roboto', sans-serif;   }
       
    /* comments look like this */
