.card {max-width: 500px; margin: 0 auto}
 h1{font-family: 'Staatliches', serif;
    font-color: purple}
img {
    max-width: 100%;}
    
body {
        
    font-family: 'Roboto', sans-serif;   }
       
    /* comments look like this */